<video src="./bg.mp4" autoplay muted loop  id="back"></video>
<header class="header">
    <div class='logo'>
        <p>VOCABULARY</p>
    </div>
    <nav class="navi">
        <ul>
            <li> <a href="/"> ADD WORDS</a></li>
            <li> <a href="/view">VIEW WORDS</a></li>
            <li><a href="/dictionary">DICTIONARY</a></li>
        </ul>
    </nav>
</header>