<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('headme');-%>
    <link rel="stylesheet" href="./css/view.css">

</head>
<body>
    
    
    <%-include('header');-%>
    <div class="container">
        <input type="text" name="word " id="word" placeholder="enter word to search">
        <input type="button" id="btn" value="search">
    </div>
        <div class="container2">
            <div>

                <textarea name="meaning" id="mean" cols="30" rows="5" autocorrect='on' placeholder="please enter the meaning"></textarea>
                <textarea name="sent1" id="sent1" cols="30" rows="5" autocorrect='on' placeholder="please enter the first sentance"></textarea>
                <textarea name="sent2" id="sent2" cols="30" rows="5" placeholder="please enter the second sentance"></textarea>
                <textarea name="sent3" id="sent3" cols="30" rows="5" placeholder="please enter the third sentance"></textarea>
                <textarea name="sent4" id="sent4" cols="30" rows="5" placeholder="please enter the fourth sentance"></textarea>
                <textarea name="sent5" id="sent5" cols="30" rows="5" placeholder="please enter the fifth sentance"></textarea>
            </div>
        </div>
        <script src="./view.js"></script>
</body>
</html>