<!DOCTYPE html>
<html lang="en">
<head>
   <%-include('headme');-%>
   <link rel="stylesheet" href="./css/dictionary.css">
</head>
<body>
    <%-include('header');-%>
    <div class="container">
        <input type="text" name="word " id="word" placeholder="enter word to search">
        <input type="button" id="btn" value="search">
    </div>
        <div class="container2">
            <p id="mean"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam fugiat vitae distinctio possimus cumque rem veritatis, suscipit voluptas! Molestias, dignissimos? </p>
        </div>
    <script src="./dictionary.js"></script>
</body>
</html>